<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hybrid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D31BC1081CD534CE00CF6BEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D31BC11C1CD534CF00CF6BEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D31BC1271CD534CF00CF6BEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
