<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HybridShared.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NotificationServiceTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>NotificationServiceTesterService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ServiceWorker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ServiceWorkerContainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Shared.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TestShared.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>hybrid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>testservice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A2597EA1EF1A21B00434D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A2597F21EF1A21B00434D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A5D06381EF31820009AA8E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A5E86FF1EF0424700520133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A5E871C1EF064D100520133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A5E87241EF064D200520133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A66F0DE1EF467CF002F06C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A6739591EF33560007E890A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A6739701EF41E8C007E890A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A6739821EF4317F007E890A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AE731AD1EF090F100CDF80E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
