<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>url</key>
      <string>https://alastairtest.ngrok.io/reader/sw.js</string>
      <key>scope</key>
      <string>https://alastairtest.ngrok.io/reader/</string>
      <key>file</key>
      <string>2016120615244800</string>
    </dict>
  </array>
</plist>